<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>&quot;We need access to your camera to let you take a DIML photo.&quot;</string>
	<key>UIAppFonts</key>
	<array>
		<string>Caprasimo-Regular.ttf</string>
		<string>Fredoka-Regular.ttf</string>
		<string>Fredoka-Medium.ttf</string>
		<string>MarkaziText-Regular.ttf</string>
		<string>MarkaziText-Medium.ttf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for voice search functionality.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition access to convert your voice into search text.</string>
</dict>
</plist>
